.center {
  align-items: center;
  bottom: 0;
  display: flex;
  left: 0;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
}

.center2 {
  display: inline-flex;
  -ms-flex-direction: row;
  flex-direction: row;
  vertical-align: baseline;
}
